!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %meta(http-equiv="x-ua-compatible" content="ie=edge")
    %link(rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="css/core.css")
  %body
    %nav.navbar.navbar-dark.bg-dark.sticky-top.mb-4
      .mr-auto
        %a(href="./index.html")
          %button.btn(type="button")
            %img(src="./img/circle-left.svg" height="30px" width="30px")
        %span.navbar-brand.pl-2.translate(data-key="DEBUG_REPOSITORY_NAME")
      %button.btn#reload(type="button")
        %img(src="./img/loop2.svg" height="30px" width="30px")
      %button.btn#apply(type="button")
        %img(src="./img/checkmark2.svg" height="30px" width="30px")
    .container-fluid#debug-repo
      .row#root
        %description(:hasinfo="hasinfo" :name="infoname" :version="infoversion" :maintainer="infomaintainer" :changelog="changelog")
        .col-12.text-center(v-if="loading")
          %img.spin(src="./img/spinner2.svg" height="40px" width="40px")
        .col-12(v-else-if="error")
          %p
            %span.translate(data-key="ERROR_HAPPEN")
          %p {{errorMsg}}
        %big-category(v-else=true v-for="(v, k) in plist" :name="k" :val="v")
    .modal.fade#progress
      .modal-dialog
        .modal-content
          .modal-header
            %h4.modal-title
          %modal-body(:phase="phase" :log="log" :finished="finished")
          .modal-footer
            %button.btn.btn-primary(type="button" :disabled="!finished" @click="reset")
              %span.translate(data-key="BUTTON_CLOSE")
    .modal.fade#detail
      .modal-dialog
        .modal-content
          .modal-body#outwebview
            %webview#detailweb(src="about:blank" autosize="on")
          .modal-footer
            %button.btn.btn-primary(type="button" data-dismiss="modal")
              %span.translate(data-key="BUTTON_CLOSE")
    %script(type="text/javascript")
      window.jQuery = window.$ = require("../node_modules/jquery/dist/jquery.slim.min.js");
    %script(src="../node_modules/popper.js/dist/umd/popper.min.js")
    %script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
    %script(src="../node_modules/vue/dist/vue.min.js")
    %script(src="./js/repo_components.js")
    %script(src="./js/debug_repo.js")
