!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %meta(http-equiv="x-ua-compatible" content="ie=edge")
    %link(rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="css/core.css")
  %body
    %nav.navbar.navbar-dark.sticky-top.bg-faded.mb-4
      .mr-auto
        %a(href="./setting.html")
          %button.btn(type="button")
            %img(src="./img/cogs.svg" height="30px" width="30px")
      %button.btn#play(type="button")
        %img(src="./img/play3.svg" height="30px" width="30px")
    .container-fluid
      .row#repo
        .col-md-6(v-if="remoteRepos.length > 0")
          .card.card-block
            %h4.card-title
              %span.translate(data-key="REMOTE_REPOSITORY_NAME")
            %ul.list-group
              %li(is="repo" v-for="r in remoteRepos" :name="r" repotype="remote")
        .col-md-6(v-if="localRepos.length > 0")
          .card.card-block
            %h4.card-title
              %span.translate(data-key="LOCAL_REPOSITORY_NAME")
            %ul.list-group
              %li(is="repo" v-for="r in localRepos" :name="r" repotype="local")
        .col-md-6(v-if="debugRepo !== \"\"")
          .card.card-block
            %h4.card-title
              %span.translate(data-key="DEBUG_REPOSITORY_NAME")
            .card.card-block
              %debug-repo(:name="debugRepo")
      .card.card-block.card-inverse.card-info#update.hidden
        %h4.card-title
          %span.translate(data-key="UPDATE_NOTIFY_TITLE")
        %p
          %span.newVersion
          %span.translate(data-key="UPDATE_NOTIFY_TEXT")
        %a.card-link#updateLink(href="#")
          %span.translate(data-key="BUTTON_OPEN")
    %script(type="text/javascript")
      window.jQuery = window.$ = require("../node_modules/jquery/dist/jquery.min.js");
    %script(src="../node_modules/tether/dist/js/tether.min.js")
    %script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
    %script(src="../node_modules/vue/dist/vue.min.js")
    %script(src="./js/index.js")
