!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %meta(http-equiv="x-ua-compatible" content="ie=edge")
    %link(rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="./css/core.css")
  %body
    .pos-f-t
      %nav.navbar.navbar-dark.navbar-static-top.bg-faded
        %form.form-inline.float-xs-left
          %a(href="./index.html")
            %button.btn(type="button")
              %img(src="./img/circle-left.svg" height="30px" width="30px")
    .container-fluid
      .row#setting
        .col-xs
          .card.card-block
            %h4.card-title.ja リモートリポジトリ一覧
            %h4.card-title.en List of Remote Repository
            %p.ja 「ユーザー名/リポジトリ名/ブランチ名」の形式で入力してください
            %p.en Enter in the form of "UserName/RepositoryName/BranchName"
            %ul.list-group.with-form
              %li(is="repo" v-for="(r, i) in remoteRepos" :name="r" :num="i" :repos="remoteRepos")
            %form.form-inline
              .form-group(:class="{ 'has-danger': remoteRepoAddStrErr }")
                %input.form-control#remoteRepoInput(type="text" v-model="remoteRepoAddStr")
                %button.btn.btn-primary.remoteRepoButton.ja(type="button" @click="addRemoteRepo") 追加
                %button.btn.btn-primary.remoteRepoButton.en(type="button" @click="addRemoteRepo") Add
                .form-control-feedback
                  %p.ja(v-show="remoteRepoAddStrErr") 入力が不正です
                  %p.en(v-show="remoteRepoAddStrErr") Invalid input string
        .col-xs
          .card.card-block
            %h4.card-title.ja ローカルリポジトリ一覧
            %h4.card-title.en List of Local Repository
            %ul.list-group.with-form
              %li(is="repo" v-for="(r, i) in localRepos" :name="r" :num="i" :repos="localRepos")
            %button.btn.btn-primary.ja(type="button" @click="addLocalRepo") 追加
            %button.btn.btn-primary.en(type="button" @click="addLocalRepo") Add
        .col-xs
          .card.card-block
            %h4.card-title.ja デバッグ用リポジトリ
            %h4.card-title.en Debug Repository
            %debug-repo(v-if="debugRepo !== \"\"" :name="debugRepo")
            %button.btn.btn-primary.ja(type="button" @click="setDebugRepo") 設定
            %button.btn.btn-primary.en(type="button" @click="setDebugRepo") Set
        .col-xs
          .card.card-block
            %h4.card-title.ja Blitzのフォルダ位置
            %h4.card-title.en Path to Blitz
            %form.form-inline
              %label.form-check-inline
                %input.form-check-input(type="radio" name="blitzPathRadio" value="win" v-model="blitzPathRadio")
                Windows(Steam)
              %label.form-check-inline
                %input.form-check-input(type="radio" name="blitzPathRadio" value="macsteam" v-model="blitzPathRadio")
                Mac(Steam)
              %label.form-check-inline
                %input.form-check-input(type="radio" name="blitzPathRadio" value="macapp" v-model="blitzPathRadio")
                Mac(AppStore)
              %label.form-check-inline
                %input.form-check-input(type="radio" name="blitzPathRadio" value="other" v-model="blitzPathRadio")
                Other
            %blitz-path(:name="blitzPath")
            %button.btn.btn-primary(type="button" v-if="blitzPathRadio === 'other' " @click="setBlitzPath")
              %span.ja 設定
              %span.en Set
        .col-xs
          .card.card-block
            %h4.card-title.ja 適応端末
            %h4.card-title.en Device to apply
            %form.form-inline
              %label.form-check-inline
                %input.form-check-input(type="radio" name="platform" value="w" v-model="platform")
                Windows
              %label.form-check-inline
                %input.form-check-input(type="radio" name="platform" value="m" v-model="platform")
                Mac
              %label.form-check-inline
                %input.form-check-input(type="radio" name="platform" value="a" v-model="platform")
                Android
        .col-xs
          .card.card-block
            %h4.card-title#langHeader 言語(Language)
            %form.form-inline
              %label.form-check-inline
                %input.form-check-input(type="radio" name="lang" value="en" v-model="lang")
                English
              %label.form-check-inline
                %input.form-check-input(type="radio" name="lang" value="ja" v-model="lang")
                日本語
        .col-xs
          .card.card-block
            %h4.card-title.ja 設定をリセットする
            %h4.card-title.en Reset all settings
            %button.btn.btn-primary.ja(type="button" @click="reset") リセット
            %button.btn.btn-primary.en(type="button" @click="reset") Reset
        .col-xs
          .card.card-block
            %h4.card-title.ja バージョン情報
            %h4.card-title.en About
            %p
              {{appName}} {{version}}
              %br
              (C) S(29314) 2016 MIT License
    %script(type="text/javascript")
      window.jQuery = window.$ = require("../node_modules/jquery/dist/jquery.min.js");
    %script(src="../node_modules/tether/dist/js/tether.min.js")
    %script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
    %script(src="../node_modules/vue/dist/vue.min.js")
    %script(src="./js/setting.js")
