!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %meta(http-equiv="x-ua-compatible" content="ie=edge")
    %link(rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="./css/core.css")
  %body
    %nav.navbar.navbar-toggleable-sm.navbar-dark.sticky-top.bg-faded.mb-4
      %a(href="./index.html")
        %button.btn(type="button")
          %img(src="./img/circle-left.svg" height="30px" width="30px")
    .container-fluid
      .row#setting
        .col-md-6
          .card.card-block
            %h4.card-title
              %span.ja リモートリポジトリ一覧
              %span.en List of Remote Repository
              %span.ru Список удаленном репозитории
            %p
              %span.ja 「ユーザー名/リポジトリ名」の形式でまたはURLを入力してください
              %span.en Enter in the form of "UserName/RepositoryName" or the URL
              %span.ru Введите в форме "Имя пользователя / Имя вместилище" или URL
            %ul.list-group.mb-1
              %li(is="repo" v-for="(r, i) in remoteRepos" :name="r" :num="i" :repos="remoteRepos")
            %form.form-inline
              .form-group(:class="{ 'has-danger': remoteRepoAddStrErr }")
                %input.form-control.mr-1.mt-1#remoteRepoInput(type="text" v-model="remoteRepoAddStr")
                %button.btn.btn-primary.mt-1.remoteRepoButton(type="button" @click="addRemoteRepo")
                  %span.ja 追加
                  %span.en Add
                  %span.ru Добавить
                .form-control-feedback
                  %p(v-show="remoteRepoAddStrErr")
                    %span.ja 入力が不正です
                    %span.en Invalid input string
                    %span.ru Недопустимая строка ввода
        .col-md-6
          .card.card-block
            %h4.card-title
              %span.ja ローカルリポジトリ一覧
              %span.en List of Local Repository
              %span.ru Список локальных репозитария
            %ul.list-group.mb-1
              %li(is="repo" v-for="(r, i) in localRepos" :name="r" :num="i" :repos="localRepos")
            %button.btn.btn-primary(type="button" @click="addLocalRepo")
              %span.ja 追加
              %span.en Add
              %span.ru Добавить
        .col-md-6
          .card.card-block
            %h4.card-title
              %span.ja デバッグ用リポジトリ
              %span.en Debug Repository
              %span.ru Отладка репозитария
            %debug-repo(v-if="debugRepo !== \"\"" :name="debugRepo")
            %button.btn.btn-primary(type="button" @click="setDebugRepo")
              %span.ja 設定
              %span.en Set
              %span.ru Задавать
        .col-md-6
          .card.card-block
            %h4.card-title
              %span.ja Blitzのフォルダ位置
              %span.en Path to Blitz
              %span.ru Путь к Blitz
            %form.form-inline
              %label.radio_text
                %input.radio(type="radio" name="blitzPathRadio" value="win" v-model="blitzPathRadio")
                Windows(Steam)
              %label.radio_text
                %input.radio(type="radio" name="blitzPathRadio" value="macsteam" v-model="blitzPathRadio")
                Mac(Steam)
              %label.radio_text
                %input.radio(type="radio" name="blitzPathRadio" value="macapp" v-model="blitzPathRadio")
                Mac(AppStore)
              %label.radio_text
                %input.radio(type="radio" name="blitzPathRadio" value="other" v-model="blitzPathRadio")
                %span.ja その他
                %span.en Other
                %span.ru Другие
            %blitz-path(:name="blitzPath")
            .btn-group
              %button.btn.btn-primary(type="button" v-if="blitzPathRadio === 'other' " @click="setBlitzPathFolder")
                %span.ja フォルダに設定
                %span.en Set folder
                %span.ru Установить папку
              %button.btn(type="button" v-if="blitzPathRadio === 'other' " @click="setBlitzPathFile")
                %span.ja \.ipa/.apkに設定
                %span.en Set .ipa/.apk
                %span.ru Установить .ipa / .apk
        .col-md-6
          .card.card-block
            %h4.card-title
              %span.ja 適応端末
              %span.en Device to apply
              %span.ru Устройство для применения
            %form.form-inline
              %label.radio_text
                %input.radio(type="radio" name="platform" value="w" v-model="platform")
                Windows
              %label.radio_text
                %input.radio(type="radio" name="platform" value="m" v-model="platform")
                Mac
              %label.radio_text
                %input.radio(type="radio" name="platform" value="a" v-model="platform")
                Android
              %label.radio_text
                %input.radio(type="radio" name="platform" value="i" v-model="platform")
                iOS
        .col-md-6
          .card.card-block
            %h4.card-title#langHeader 言語(Language)
            %form.form-inline
              %label.radio_text
                %input.radio(type="radio" name="lang" value="en" v-model="lang")
                English
              %label.radio_text
                %input.radio(type="radio" name="lang" value="ja" v-model="lang")
                日本語
              %label.radio_text
                %input.radio(type="radio" name="lang" value="ru" v-model="lang")
                русский
        .col-md-6
          .card.card-block
            %h4.card-title
              %span.ja キャッシュを削除する
              %span.en Clear cache
              %span.ru Очистить кэш
            %button.btn.btn-primary(type="button" @click="clearCache")
              %span.ja 削除
              %span.en Clear
              %span.ru Очистить
        .col-md-6
          .card.card-block
            %h4.card-title
              %span.ja 設定フォルダを開く
              %span.en Open config folder
              %span.ru Открыть папку конфигурации
            %button.btn.btn-primary(type="button" @click="openConfigFolder")
              %span.ja 開く
              %span.en Open
              %span.ru открыто
        .col-md-12
          .card.card-block
            %h4.card-title
              %span.ja 設定をリセットする
              %span.en Reset all settings
              %span.ru Сбросить все настройки
            %button.btn.btn-primary(type="button" @click="reset")
              %span.ja リセット
              %span.en Reset
              %span.ru Сброс
        .col-md-12
          .card.card-block
            %h4.card-title
              %span.ja 適用情報出力
              %span.en Apply information output
              %span.ru Применить вывод информации
            %button.btn.btn-primary(type="button" @click="applyInfo")
              %span.ja 表示
              %span.en Show
              %span.ru Показать
        .modal.fade#applyInfo
          .modal-dialog
            .modal-content
              .modal-header
                %button.close(type="button" data-dismiss="modal")
                  %span &times;
              .modal-body
                %textarea
              .modal-footer
                %button.btn.btn-secondary(type="button" data-dismiss="modal") Close
        .col-md-12
          .card.card-block
            %h4.card-title
              %span.ja バージョン情報
              %span.en About
              %span.ru Около
            %p.user-select
              {{appName}} {{version}}
              %br
              (C) S(29314) 2016 MIT License
    %script(type="text/javascript")
      window.jQuery = window.$ = require("../node_modules/jquery/dist/jquery.min.js");
    %script(src="../node_modules/tether/dist/js/tether.min.js")
    %script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
    %script(src="../node_modules/vue/dist/vue.min.js")
    %script(src="./js/setting.js")
