body {
  padding-top: 5rem;
}

* {
  user-select: none;
}
.user-select {
  user-select: text;
}

button.applied::after {
  content: "インストール済";
  color: blue;
}
.form-check {
  margin-bottom: 0;
}
webview {
  height: 100%;
}
#outwebview {
  height: 450px;
}

.with-form {
  margin-bottom: 10px;
}

#remoteRepoInput {
  margin-top: 5px;
  margin-right: 5px;
}
.remoteRepoButton {
  margin-top: 5px;
}
#debugRepo, #blitzFolder {
  padding: 10px;
}

.remove {
  float: right;
}

#applyInfo textarea {
  width: 100%;
  height: 300px;
}

li {
  word-wrap: break-word;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}
.center {
  margin: 0 auto;
}

.spin {
  animation: spin 1s ease 0s infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
